*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  body {
    background: url("../images/background-multiple.png");
    overflow-x: hidden;
    font-family: sans-serif;
  }

  .text-information{
    margin-top: 7rem;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    width: 50%;
    margin-inline: auto;
    padding: 40px;
    border-radius: 20px;
    padding-left: 80px;
    font-size: 20px;
  }

  #pokeball-container{
    width: 200px;
    margin: auto;
  }

  /* Poké Styles */
  .pokeball{
    position: relative;
    width: 200px;
    height: 200px;
    background: #fff;
    border: 10px solid #000;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset -10px 10px 0 10px #ccc;
  }

  .pokeball:hover{
    animation: shake 1.25s cubic-bezier(.36,.07,.19,.97) 3;
  }

  .pokeball::before,
  .pokeball::after {
    content:"";
    position: absolute;
  }
  .pokeball::before {
    background: red;
    width: 100%;
    height: 50%;
  }
  .pokeball::after {
    top: calc(50% - 10px);
    width: 100%;
    height: 20px;
    background: #000;
  }
  .pokeball__button {
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    width: 60px;
    height: 60px;
    background: #7f8c8d;
    border: 10px solid #fff;
    border-radius: 100%;
    z-index: 10;
    box-shadow: 0 0 0 10px black;
  }
  .pokeball__button:hover{
    animation: blink .5s alternate 7;
   
  }

  #pikachuRunning {
    width: 170px;
    position: relative;
    /*transform: translate(-30vh);
    animation: run 2s; */
  }
  @media screen and (max-width: 1000px) { #pikachuRunning{ 
    top: 20px;
    position: fixed;

   } 
  }

  h2{
    font-family: 'Common Pixel', sans-serif;
  }

  footer{
    position: absolute;
    bottom: 0;
    width: 100vw;
  }

  /* Animation */
  @keyframes blink {
    from { background: #eee;}
    to { background: #e74c3c; }
  }
  @keyframes shake {
    0% { transform: translate(0, 0) rotate(0); }
    20% { transform: translate(-10px, 0) rotate(-20deg); }
    30% { transform: translate(10px, 0) rotate(20deg); }
    50% { transform: translate(-10px, 0) rotate(-10deg); }
    60% { transform: translate(10px, 0) rotate(10deg); }
    100% { transform: translate(0, 0) rotate(0); }
  }

  @media screen and (max-width: 1548px) { .text-information{ width: 70%; } }

  @media screen and (max-width: 1134px) { .text-information{ width: 80%; } }

  @media screen and (max-width: 714px) { 
    .text-information{ width: 100%; } 
    body{
      background-size: 220vh;
    }
  }
  